/* init */

* {
  margin: 0px;
  padding: 0px;
}

/* page */

html {
  scroll-behavior: smooth;
  overflow: hidden;
  height: 100%;
}

body {
  background-color: #272727;
  color: #fff;
  font-family: Calibri,sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  min-width: 1300px;
}

a,
button {
  cursor: pointer;
}

.wrapper-left {
  padding-left: calc(30px + 3%);
  width: 24%;
  min-width: 280px;
  float: left;
  position: fixed;
  height: 100%;
}

.wrapper-center {
  margin-left: 30%;
  height: 100%;
}

.wrapper {
  clear: both;
  height: 100%;
  background-color: #123;
  margin-left: -100px;
  padding-left: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1 {
  font-size: 48px;
  padding-bottom: 60px;
}

.wrapper-main {
  background-image: url(./resources/bg-main.jpg);
}

.wrapper-video {
  background-image: url(./resources/bg-video.jpg);
}

.wrapper-hobbies {
  background-image: url(./resources/bg-hobbies.jpg);
}

.wrapper-cw {
  background-image: url(./resources/bg-cw.jpg);
}

.wrapper-animation {
  background-image: url(./resources/bg-animation.jpg);
}

span.gold {
  color: #ec3;
}

/* logo */

.logo {
  padding-top: 120px;
}

@media screen and (max-height: 830px) {
  .logo {
    padding-top: 60px;
  }
}

.logo img {
  width: 48px;
  height: 48px;
  float: left;
}

.logo p {
  padding: 36px 0 0 60px;
  font-size: 12px;
  color: #fff;
}

/* navigate */

.nav {
  padding-top: 200px;
}

.nav-list {
  height: 400px;
  list-style: none;
  width: 280px;
}

.nav-list li {
  height: 42px;
  width: fit-content;
  display: table;
  padding: 10px 12px;
  background-color: #000;
  transition: transform .25s;
}

.nav-list li:hover {
  box-shadow: 6px 6px 24px #fe9;
  transform: scale(1.06);
  color: #fe9;
}

.nav-list a.current li {
  color: #ec3;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  width: 280px;
  font-family: azo-sans-uber,sans-serif;
}

/* home */

.main-text {
  position: absolute;
  width: 556px;
  background-color: rgba(22,22,22,0.65);
  z-index: 2;
  margin: -386px 0 0 10px;
  padding: 12px;
}

.main-text p {
  font-size: 14px;
  line-height: 24px;
}

.main-image img {
  width: 600px;
  height: auto;
}

.main-copyright {
  position: absolute;
  margin: -36px 0 0 390px;
  padding: 6px;
  background-color: rgba(22,22,22,0.65);
}

/* video */

.video-video {
  background-color: #222;
  width: 800px;
  height: 450px;
  float: left;
}

.video-video video {
  width: 800px;
}

#prog-bar {
  margin-top: -4px;
  width: 800px;
  height: 12px;
  background-color: #000;
}

#prog {
  width: 0;
  height: 12px;
  background-color: #fe9;
}

.video-control {
  float: left;
  width: 50px;
  margin: 0 0 0 80px;
  padding: 8px 4px 0 14px;
  background-color: #000;
}

@media screen and (max-width: 1360px) {
  .video-control {
    margin-left: 0;
  }
}

.control-stylus {
  height: 8px;
  background-color: #fff;
  margin: 0 0 12px -10px;
}

.video-control button {
  width: 42px;
  height: 42px;
  background-color: inherit;
  border: none;
  transition: transform .15s;
  margin: 16px 0;
}

.video-control button:hover {
  transform: scale(1.13);
}

.video-control button img {
  width: 36px;
  height: 36px;
}

/* hobbies */

.hobby-sec {
  width: 240px;
  height: 400px;
  float: left;
  margin: 30px 60px 0 0;
  background-color: rgba(255,238,119,0.2);
}

.hobby-sec img {
  width: 240px;
  height: auto;
}

span.capital {
  font-size: 48px;
  letter-spacing: -10px;
  padding:0 12px;
}

.hobby-sec h1 {
  padding: 18px 0 0 12px;
}

.hobby-sec p {
  padding: 18px 0 0 18px;
  width: 210px;
  font-size: 18px;
  color: #000;
}

/* coursework */

.wrapper-cw .hobby-sec h1,
.wrapper-cw .hobby-sec a {
  padding-left: 16px;
  height: 72px;
}

.wrapper-cw .hobby-sec a {
  text-decoration: none;
  color: #fe9;
}

.wrapper-cw .hobby-sec a:hover {
  color: #ec3;
}

.wrapper-cw .hobby-sec img {
  width: 180px;
  height: 150px;
  margin: 48px 0 32px 30px;
}

/* animation */

.svg {
  width: 800px;
  height: 480px;
  background-color: #123;
}
